server:
  port: 9000

spring:
  docker:
    compose:
      enabled: false
  datasource:
    url: jdbc:h2:mem:reembolso-dev;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: sa

  h2:
    console:
      enabled: true
      path: /console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false

logging:
  level:
    org.hibernate.SQL: DEBUG